<% content_for :title, current_user&.username %>

<% if current_user.present? %>
  <br />

  <form style="float: right;">
    <label for="sweep">Sweep tweets</label>
    <input type="checkbox" id="sweep" name="sweep">

    <input type="submit" value="Save">
  </form>

  <br />

  <h3>Tweets to be deleted</h3>
  <%= render partial: "tweets/tweet", collection: @tweets %>
<% end %>
