<% unless tweet.saved? %>
  <span class="text-slate-500">&middot;</span>
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="relative inline-block text-left"
       data-controller="dropdown"
       data-dropdown-entering-class="transition ease-out duration-100"
       data-dropdown-visible-class="transform opacity-100 scale-100"
       data-dropdown-enter-timeout="100"
       data-dropdown-leaving-class="transition ease-in duration-75"
       data-dropdown-invisible-class="transform opacity-0 scale-95"
       data-dropdown-leave-timeout="75">
    <div>
      <button type="button" class="flex items-center pr-2 bg-slate-100 dark:bg-slate-800 text-slate-500 dark:text-slate-400 hover:text-slate-600 hover:dark:text-slate-500 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-slate-100 focus:ring-sky-500 space-x-1" aria-expanded="true" aria-haspopup="true" data-dropdown-target="button" data-action="click->dropdown#toggle click@window->dropdown#hide touch->dropdown#toggle touch@window->dropdown#hide">
        <span class="sr-only">Open options</span>
        <!-- Heroicon name: outline/clock -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span class="text-sm"><%= countdown_days(tweet) %></span>
      </button>
    </div>

    <!--
      Dropdown menu, show/hide based on menu state.

      Entering: "transition ease-out duration-100"
      From: "transform opacity-0 scale-95"
      To: "transform opacity-100 scale-100"
      Leaving: "transition ease-in duration-75"
      From: "transform opacity-100 scale-100"
      To: "transform opacity-0 scale-95"
    -->
    <div class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white dark:bg-slate-600 ring-1 ring-black ring-opacity-5 focus:outline-none hidden opacity-0 scale-95" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" data-dropdown-target="menu">
      <div class="py-1 divide-y divide-slate-100 dark:divide-slate-700" role="none">
        <!-- Active: "bg-slate-100 text-slate-900", Not Active: "text-slate-700" -->
        <p class="text-slate-500 font-semibold dark:text-slate-400 block px-4 py-2 text-xs uppercase text-center" tabindex="-1"><%= delete_countdown(tweet) %></p>
        <%= link_to "Delete now", 
          tweet_path(tweet), 
          class: "text-red-500 block px-4 py-2 text-sm text-center", 
          role: "menuitem",
          tabindex: "-1",
          data: { 
            turbo_method: :delete, 
            turbo_confirm: "Delete this tweet now? It's irreversible." 
          } %>
      </div>
    </div>
  </div>
<% end %>
