<%= turbo_frame_tag "timeline" do %>
  <div class="bg-white dark:bg-slate-700 dark:text-slate-300 shadow-lg border border-slate-100 dark:border-slate-800 overflow-hidden rounded-lg">

    <%= turbo_stream_from current_user, :tweets %>
    <ul role="list" id="tweets" class="divide-y divide-slate-200 dark:divide-slate-800">
      <% if tweets.present? %>
        <%= render tweets %>
      <% else %>
        <li class="py-6 flex justify-center text-xl font-semibold text-slate-600">No tweets here, yet...</li>
      <% end %>
    </ul>
  </div>
<% end %>
