<hr />
<p><%= sanitize tweet.full_text %></p>
<p>
<%= link_to tweet.published_at.strftime("%b %d, %Y"), tweet.url, target: "_blank" %>
<small style="float: right;">
  deletes in [blank] days
  (<%= link_to "delete now", tweet_path(tweet), style: "color: red;", method: :delete, data: { confirm: "Are you sure? You will be deleting this tweet off twitter forever" } %>)
</small>
</p>
