<li class="px-6 pt-2 pb-4">
  <p class="my-4"><%= sanitize tweet.full_text %></p>
  <div class="flex justify-between items-center">
    <%= date_link_to(tweet) %>
    <small class="text-right">
      <%= delete_countdown(tweet) %> (<%= delete_now_link(tweet) %>)
    </small>
  </div>
</li>
