<hr />
<p><%= tweet.text %></p>
<p>Retweets: <%= tweet.retweet_count %> - Favorites: <%= tweet.favorite_count %> | <%= link_to tweet.created_at.strftime("%b %d, %Y"), tweet.url.to_s, target: "_blank" %></p>
