<hr />
<p><%= sanitize tweet.full_text %></p>
<p>
<%= link_to tweet.published_at.strftime("%b %d, %Y"), tweet.url, target: "_blank" %>
<small style="float: right;">
  <%= delete_countdown(tweet) %>
  (<%= delete_now(tweet) %>)
</small>
</p>
