<% content_for :title, current_user.username %>

<main class="max-w-2xl mx-auto">
  <%= render "setting_form" %>

  <%= render "tweets/timeline", tweets: @tweets %>

  <% if Rails.env.development? %>
    <div class="flex justify-center space-x-4 mt-2">
      <%= link_to "Fetch tweets", fetch_tweets_path %>
      <%= link_to "Sweep tweets", sweep_tweets_path %>
    </div>
  <% end %>
</main>
