<nav class="flex items-center justify-between max-w-prose mx-auto my-8">
  <h1>Tweet Sweeper</h1>
  <div class="flex items-center">
    <% if current_user.present? %>
      <p class="text-right">
      Signed in as @<%= current_user.username %><br />
      <%= link_to "Sign out", session_path, method: :delete, class: "text-red-500" %>
      </p>
      <%= image_tag current_user.profile_image, class: "ml-4 rounded-full" %>
    <% else %>
      <%= button_to "Sign in with Twitter", "/auth/twitter", method: :post %>
    <% end %>
  </div>
</nav>
