<nav class="flex items-center justify-between max-w-prose mx-auto my-8">
  <%= link_to home_path do %>
    <h1>Tweet Sweeper</h1>
  <% end %>
  <div class="flex items-center">
    <% if current_user.present? %>
      <%= link_to dashboard_path, class: "flex items-center border shadow rounded-lg p-2" do %>
        <%= image_tag current_user.profile_image, class: "mr-4 rounded-full" %>
        <div class="text-right">
          Go to Dashboard &rarr;
        </div>
      <% end %>
    <% else %>
      <%= button_to "Sign in with Twitter", "/auth/twitter", method: :post, data: { turbo: false } %>
    <% end %>
  </div>
</nav>
