<p>
Yo @<%= @user.username %>,
</p>

<p>
You have <b><%= pluralize(@upcoming_review.tweets_this_week.count, "tweet") %></b> that are ready to be deleted this week.
</p>

<p>
If you think you want to keep any of these tweets, head over to <%= link_to "Tweet Sweeper", upcoming_url %> and check them out before they're gone.
</p>

<p>
Cheers,<br />
Pete
</p>

<p>
<a href="https://twitter.com/sweepyourtweets">@SweepYourTweets</a>
</p>
