<p>Tweet Sweeper was looking for @<%= @user.username %>'s tweets but was unable to find that account!</p>

<p>Did you recently delete your Twitter account?</p> 

<p>If so, reply to this email and let me know. I'll cancel any active subscriptions you may have and remove your data from Tweet Sweeper.</p>

<p>If not, something else went gone wrong. Reconnect your Twitter accont by heading to <a href="https://tweetsweeper.app/">Tweet Sweeper</a> and signing in again.</p>

<p>
Thanks,<br />
Pete (<a href="https://twitter.com/pbmarcano">@pbmarcano</a>)
</p>
