<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
  <h2 class="text-3xl font-display font-extrabold tracking-tight text-slate-300 sm:text-4xl">
    <span class="block">A tidy Twitter for just</span>
    <span class="block text-sky-600">$29 per year</span>
  </h2>
  <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
    <%= render "shared/sign_in_dash_button" %>
  </div>
</div>
