<div class="max-w-7xl mx-auto my-16 px-4 sm:my-24 sm:px-6 lg:px-8">
  <div class="max-w-2xl lg:mx-auto lg:text-center">
    <h2 class="text-3xl font-display font-extrabold tracking-tight text-gray-900 sm:text-4xl">Frequently asked questions</h2>
    <p class="mt-4 text-gray-500">Have a different question or concern? Tweet or DM it to <a href="https://twitter.com/SweepYourTweets" target="_blank" class="text-sky-500 font-bold underline">@SweepYourTweets</a>.</p>
  </div>
  <div class="mt-20">
    <dl class="space-y-10 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:gap-y-10">
      <div>
        <dt class="font-semibold text-gray-900">When exactly do my old tweets get deleted?</dt>
        <dd class="mt-3 text-gray-500">Tweet Sweeper deletes old tweets twice per day, at 00:00 and 12:00 GMT. If you're changing settings or picking tweets to keep, you'll likely have time to change your mind.</dd>
      </div>

      <div>
        <dt class="font-semibold text-gray-900">Is there any way to recover a deleted tweet?</dt>
        <dd class="mt-3 text-gray-500">No. That's the point of deleting them. If you want a copy of your old tweets, download your <a href="https://help.twitter.com/en/managing-your-account/how-to-download-your-twitter-archive" target="_blank" class="font-bold text-sky-500 underline">Twitter Archive</a> first.</dd>
      </div>

      <div>
        <dt class="font-semibold text-gray-900">But what if I delete a really good tweet?!</dt>
        <dd class="mt-3 text-gray-500">Tweet it again! Give your new followers a chance to bask in it's glory.</dd>
      </div>

      <div>
        <dt class="font-semibold text-gray-900">I want to see the app but I don't want to delete any tweets yet.</dt>
        <dd class="mt-3 text-gray-500">Not a question, but don&#039;t worry. No tweets will be deleted until you subscribe and give us permission. You're free to sign up and setup your account for 7 days before subscribing.</dd>
      </div>

      <div>
        <dt class="font-semibold text-gray-900">Won't this damage my following/brand?</dt>
        <dd class="mt-3 text-gray-500">Followings are built with consistency, not history. People follow you because they want to hear what you have say next. Trolls just dig for dirt.</dd>
      </div>

      <div>
        <dt class="font-semibold text-gray-900">This sounds dumb, who would do something like this?</dt>
        <dd class="mt-3 text-gray-500">Turns out, a lot of people. Shopify CEO <a href="https://twitter.com/tobi" target="_blank" class="font-bold text-sky-500 underline">Tobi Lutke</a> deletes his tweets after a few years and Investor <a href="https://twitter.com/michaeljburry" class="font-bold text-sky-500 underline" target="_blank">Michael Burray</a> after 24 hours. Unfortunately neither use Tweet Sweeper. Yet.</dd>
      </div>
    </dl>
  </div>
</div>
