<div class="relative py-16 overflow-hidden">
  <div class="hidden lg:block lg:absolute lg:inset-y-0 lg:h-full lg:w-full">
    <div class="relative h-full text-lg max-w-prose mx-auto" aria-hidden="true">
      <%# <svg class="absolute top-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384"> %>
      <%#   <defs> %>
      <%#   <pattern id="74b3fd99-0a6f-4271-bef2-e80eeafdf357" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse"> %>
      <%#   <rect x="0" y="0" width="4" height="4" class="text-slate-200 dark:text-slate-600" fill="currentColor" /> %>
      <%#   </pattern> %>
      <%#   </defs> %>
      <%#   <rect width="404" height="384" fill="url(#74b3fd99-0a6f-4271-bef2-e80eeafdf357)" /> %>
      <%# </svg> %>
      <svg class="absolute top-1/2 right-full transform -translate-y-1/2 -translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
        <pattern id="f210dbf6-a58d-4871-961e-36d5016a0f49" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
        <rect x="0" y="0" width="4" height="4" class="text-slate-200 dark:text-slate-600" fill="currentColor" />
        </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#f210dbf6-a58d-4871-961e-36d5016a0f49)" />
      </svg>
      <svg class="absolute bottom-12 left-full transform translate-x-32" width="404" height="384" fill="none" viewBox="0 0 404 384">
        <defs>
        <pattern id="d3eb07ae-5182-43e6-857d-35c643af9034" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
        <rect x="0" y="0" width="4" height="4" class="text-slate-200 dark:text-slate-600" fill="currentColor" />
        </pattern>
        </defs>
        <rect width="404" height="384" fill="url(#d3eb07ae-5182-43e6-857d-35c643af9034)" />
      </svg>
    </div>
  </div>
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="text-lg max-w-prose mx-auto">
      <h1>
        <%# <span class="block text-base text-center text-sky-600 dark:text-sky-500 font-semibold tracking-widest uppercase">the basic idea</span> %>
        <span class="mt-2 block text-3xl text-center leading-8 font-display font-extrabold text-slate-900 dark:text-slate-300 sm:text-4xl">Tweets have a shelf life</span>
      </h1>
      <%# <p class="mt-8 prose text-xl text-slate-500 dark:text-slate-400 leading-8">Whether we like it or not, Twitter is <em>the</em> global public chatroom. The Internet’s <a href="https://www.wired.com/story/twitter-has-officially-replaced-the-town-square/" target="_blank">Town Square</a>, if you must.</p> %>
    </div>
    <div class="mt-6 md:mt-12 prose prose-slate dark:prose-invert prose-lg text-slate-700 dark:text-slate-300 mx-auto">
      <p>I built <strong class="text-sky-600 dark:text-sky-400">Tweet Sweeper</strong> (<a href="https://twitter.com/sweepyourtweets" target="_blank">@SweepYourTweets</a>) because I find it weird that every tweet sticks around forever by default.</p>
      <p>I love Twitter. It's where I find people discussing cutting-edge topics. It's where everyone is free to chime with a question or something to add.</p> 
      <p>It's the Internet's <a href="https://www.wired.com/story/twitter-has-officially-replaced-the-town-square/" target="_blank">Town Square</a>.</p>
      <p>But I — and the times — constantly change. And if you haven't noticed, tweets never come with context.</p>
      <p>I get a kick out of the <strong>old me</strong>. He's a constant reminder I'm always growing.</p>
      <p>But on Twitter, I only need feedback on my current thoughts and ideas, not my old ones.</p>
      <p>So that's what I built <strong class="text-sky-600 dark:text-sky-400">Tweet Sweeper</strong> to do. It <strong>runs in the background</strong>, deleting the shit old me said over a year ago.</p>
      <p>If I come across a tweet I want to <strong>keep</strong>, I just tell Tweet Sweeper to hold onto it.</p>
      <p>Simple as that.</p>
      <p>If you want more detail, I've outlined the core features below.</p>
      <p>If you're more of a "kick the tires" type, you're free to sign in/up with your Twitter account and check it out.*</p>
      <p>When you're ready to start sweeping, it costs just <strong>$29/year</strong>.</p>
      <p>Hope to see you around my Twittersphere.</p>
      <p>Cheers,<br />Pete (<a href="https://twitter.com/pbmarcano" target="_blank" class="underline">@pbmarcano</a>)</p>
      <p class="prose-sm">* If you decide Tweet Sweeper isn't for you, just sign out. Your data will self-destruct in 7 days without a paid subscription.</p>
    </div>
  </div>
</div>
