<div class="py-16 overflow-hidden lg:py-24">
  <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-8 lg:max-w-7xl">
    <%# <svg class="hidden lg:block absolute left-full transform -translate-x-1/2 -translate-y-1/4" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true"> %>
    <%#   <defs> %>
    <%#   <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse"> %>
    <%#   <rect x="0" y="0" width="4" height="4" class="text-slate-200 dark:text-slate-700" fill="currentColor" /> %>
    <%#   </pattern> %>
    <%#   </defs> %>
    <%#   <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" /> %>
    <%# </svg> %>

    <div class="relative">
      <h2 class="font-display text-ts-blue dark:text-slate-200 text-center text-3xl leading-8 font-extrabold tracking-tight sm:text-4xl lg:text-5xl">Delete your old and embarassing <br />tweets in minutes</h2>
      <%# <p class="mt-4 max-w-3xl mx-auto text-center text-xl text-slate-500 dark:text-slate-400">Simple features. Total control.</p> %>
    </div>

    <%# SWEEPS %>
    <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
      <div class="relative">
        <h3 class="text-2xl font-display font-extrabold text-slate-900 dark:text-slate-300 tracking-tight sm:text-3xl">Automatically delete old tweets</h3>
        <p class="mt-6 text-lg text-slate-600 dark:text-slate-400">Most of what we tweet doesn't need to stick around forever. Even the most viral tweets only have a <a href="https://twitter.com/dr/status/1513371234138210311" target="_blank" class="underline underline-offset-2 font-bold">24 hour shelf life</a>.</p>
        <p class="mt-6 text-lg text-slate-600 dark:text-slate-400">Pick how long you want to hold onto your tweets. Whether its a week, month, or year — its up to you. We will scan your tweets twice per day and delete anything you consider "old."</p>
      </div>

      <div class="mt-10 -mx-4 relative lg:mt-0" aria-hidden="true">
        <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404">
          <defs>
          <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-slate-200 dark:text-slate-700" fill="currentColor" />
          </pattern>
          </defs>
          <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
        </svg>
        <%= image_tag "sweeps.png", class: "relative rounded-xl shadow-xl border border-slate-200 mx-auto", width: "490" %>
      </div>
    </div>

    <%# KEEPS %>
    <svg class="hidden lg:block absolute right-full transform translate-x-1/2 translate-y-12" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
      <defs>
      <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
      <rect x="0" y="0" width="4" height="4" class="text-slate-200 dark:text-slate-700" fill="currentColor" />
      </pattern>
      </defs>
      <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
    </svg>

    <div class="relative mt-24 sm:mt-24 lg:mt-48">
      <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:gap-8 lg:items-center">
        <div class="lg:col-start-2">
          <h3 class="text-2xl font-display font-extrabold text-slate-900 dark:text-slate-300 tracking-tight sm:text-3xl">If it sparks joy, Keep it!</h3>
          <p class="mt-6 text-lg text-slate-600 dark:text-slate-400">See a tweet that so good you need to keep it? No problem. Save your favorite and timeless tweets so your profile always reflects your best self.</p>
          <p class="mt-6 text-lg text-slate-600 dark:text-slate-400">Just tap or click "Keep" on any tweet. It will be set aside for as long as you'd like.</p>
        </div>

        <div class="mt-10 -mx-4 relative lg:mt-0 lg:col-start-1">
          <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404" aria-hidden="true">
            <defs>
            <pattern id="e80155a9-dfde-425a-b5ea-1f6fadd20131" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-slate-200 dark:text-slate-700" fill="currentColor" />
            </pattern>
            </defs>
            <rect width="784" height="404" fill="url(#e80155a9-dfde-425a-b5ea-1f6fadd20131)" />
          </svg>
          <%= image_tag "keeps.png", class: "relative mx-auto rounded-xl border border-slate-200 shadow-xl", width: "490" %>
        </div>
      </div>
    </div>

    <%# ARCHIVE %>
    <div class="relative mt-24 lg:mt-48 lg:grid lg:grid-cols-2 lg:gap-8 lg:items-center">
      <div class="relative">
        <h3 class="text-2xl font-display font-extrabold text-slate-900 dark:text-slate-300 tracking-tight sm:text-3xl">Do a deep clean</h3>
        <p class="mt-6 text-lg text-slate-600 dark:text-slate-400">Big Twitter user? If you have over 3,200 tweets, some tweets won't be on your timeline. But they'll still show up in a search!</p>
        <p class="mt-6 text-lg text-slate-600 dark:text-slate-400">By importing your Twitter Archive, <span class="font-black text-sky-600 dark:text-sky-400">Tweet Sweeper</span> can sweep every last tweet. No stone left unturned.</p>
        <p class="mt-6 text-lg text-slate-600 dark:text-slate-400"><a href="https://twitter.com/SweepYourTweets/status/1554464255956717572" class="text-sky-600 underline underline-offset-2 font-semibold" target="_blank">Learn more &rarr;</a></p>
      </div>

      <div class="mt-10 -mx-4 relative lg:mt-0" aria-hidden="true">
        <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404">
          <defs>
          <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
          <rect x="0" y="0" width="4" height="4" class="text-slate-200 dark:text-slate-600" fill="currentColor" />
          </pattern>
          </defs>
          <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
        </svg>
        <%= image_tag "upload-archive.png", class: "relative rounded-xl shadow-xl border border-slate-200 mx-auto", width: "490" %>
      </div>
    </div>
  </div>
</div>
