<!-- This example requires Tailwind CSS v2.0+ -->
<main class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24">
  <div class="text-center">
    <h1 class="text-4xl tracking-tight font-extrabold dark:text-gray-300 text-gray-900 sm:text-5xl md:text-6xl">
      <span class="block text-sky-600 dark:text-sky-500 xl:inline">Tweet</span>
      <span class="block xl:inline">Sweeper</span>
    </h1>
    <p class="mt-3 max-w-md mx-auto text-base text-gray-500 dark:text-gray-400 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
    <span class="block">Clean up your Twitter profile by auto-deleting tweets </span> 
    <span class="block">older than a week, month, quarter, or year.</span>
    </p>
    <div class="mt-5 max-w-md mx-auto sm:flex sm:justify-center md:mt-8">
      <div class="rounded-md shadow">
        <% unless current_user.present? %>
          <%= button_to "/auth/twitter", 
            method: :post, 
            class: "w-full flex items-center justify-center px-8 py-3 border-b border-sky-700 text-base font-medium rounded-md text-white bg-sky-600 hover:bg-sky-500 md:py-4 md:text-lg md:px-10",
            data: { turbo: false } do %>
            Sign in with Twitter
            <!-- SVG from: https://gist.github.com/mbostock/3094619 -->
            <svg viewBox="328 355 335 276" class="h-6 w-6 ml-3 fill-current text-white" xmlns="http://www.w3.org/2000/svg">
              <path d="
                       M 630, 425
                       A 195, 195 0 0 1 331, 600
                       A 142, 142 0 0 0 428, 570
                       A  70,  70 0 0 1 370, 523
                       A  70,  70 0 0 0 401, 521
                       A  70,  70 0 0 1 344, 455
                       A  70,  70 0 0 0 372, 460
                       A  70,  70 0 0 1 354, 370
                       A 195, 195 0 0 0 495, 442
                       A  67,  67 0 0 1 611, 380
                       A 117, 117 0 0 0 654, 363
                       A  65,  65 0 0 1 623, 401
                       A 117, 117 0 0 0 662, 390
                       A  65,  65 0 0 1 630, 425
                       Z" />
            </svg>
          <% end %>
        <% else %>
          <%= link_to dashboard_path, class: "w-full flex items-center justify-center px-8 py-3 border-b border-gray-300 dark:border-gray-600 text-base font-medium rounded-md text-gray-900 dark:text-gray-300 bg-white dark:bg-gray-700 shadow-md md:py-4 md:text-lg md:px-10" do %>
            Go to dashboard
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
            </svg>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="relative px-4 sm:px-6 lg:px-8 mt-24 md:mt-48">
    <div class="mt-6 prose prose-lg text-gray-500 dark:text-gray-400 mx-auto">
      <h2><span class="dark:text-gray-300">Twitter is a chatroom</span></h2>
      <p class="mt-8 text-xl leading-8 dark:text-gray-400">You can reach out and talk with some of the most interesting people in the world, in real-time. There's nothing like it.</p>
      <p>But we're human. We learn things, form new opinions, and maybe share just a little too much from time to time. Your Twitter timeline should reflect the smarter, funnier, current you.</p>
      <p><span class="text-sky-700 dark:text-sky-500 font-bold">Tweet Sweeper</span> puts an expiration date on your tweets and automatically purges Twitter of the things "old you" said.</p>
      <p>If you want to see what that looks like for you, sign in with Twitter for free and set your ideal duration.</p>
      <p>When you're ready to start sweeping tweets, it costs just <strong><span class="dark:text-sky-500">$29/year</span></strong>.</p>
      <p>If you have any questions, tweet me -  <a href="https://twitter.com/pbmarcano"><span class="dark:text-sky-500 underline">@pbmarcano</span></a></p>
    </div>
  </div>
</main>
