<main class="pb-8 sm:pb-12 lg:pb-12">
  <div class="pt-8 overflow-hidden sm:pt-12 lg:relative lg:py-48">
    <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24">
      <div>
        <div>
          <svg class="h-11 w-auto" xmlns="http://www.w3.org/2000/svg" viewBox="204.18 67.43 66.63 61.65">
            <defs id="SvgjsDefs1002"></defs>
            <g id="SvgjsG1024" transform="matrix(1,0,0,1,160,22.752994537353516)">
            <title>0334_bird_nest_horiz</title>
            <path class="fill-sky-400 dark:fill-sky-100 dark:opacity-80" d="M55.27,77.42s1-7.87,1.9-17,5.15-14.33,12.47-14.33c11.8,0,12.33,13.55,12.55,15.8l2.12,20.39s-6,.56-14.79.56A21.46,21.46,0,0,1,55.27,77.42Z" fill="#50d6d9"></path>
            <path class="fill-sky-900 dark:fill-sky-600" d="M46.09,70.61a2.78,2.78,0,1,1,4.48-3.3,31.84,31.84,0,0,0,10.49,9C61.44,73.17,62.17,67,62.77,61c1-10,6.19-15.68,14.23-15.68a15.56,15.56,0,0,1,9.85,3.93l7.44-4.2A2.79,2.79,0,0,1,97,49.93L89.28,54.3a5,5,0,0,1-5.83-.6A10.19,10.19,0,0,0,77,50.91c-1.88,0-7.62,0-8.7,10.68-.74,7.35-1.69,15.17-1.92,17.07A34.23,34.23,0,0,0,87.44,79L85.78,63a6.94,6.94,0,0,1,5.32-7.43l7.37-1.7a2.78,2.78,0,0,1,1.25,5.42l-7.36,1.7a1.38,1.38,0,0,0-1,1.45L92.82,77a32,32,0,0,0,11.61-9.64,2.78,2.78,0,1,1,4.48,3.3,39.64,39.64,0,0,1-62.82,0ZM110.23,82a2.77,2.77,0,0,0-3.9-.51,47.81,47.81,0,0,1-57.66,0,2.78,2.78,0,0,0-3.4,4.41,53.13,53.13,0,0,0,32.1,10.82h.26a53.13,53.13,0,0,0,32.1-10.82A2.78,2.78,0,0,0,110.23,82ZM99,96.93a61.16,61.16,0,0,1-21.7,3.81A60.53,60.53,0,0,1,56,96.93a2.79,2.79,0,0,0-1.95,5.22,66.8,66.8,0,0,0,23.65,4.16,66.18,66.18,0,0,0,23.23-4.16,2.79,2.79,0,0,0-2-5.22ZM76.67,55.6c-1.62,0-2.94,1.68-2.94,3.77s1.32,3.76,2.94,3.76,2.94-1.68,2.94-3.76S78.3,55.6,76.67,55.6Z" fill="#3e3884"></path>
            </g>
          </svg>
        </div>
        <div class="mt-20">
          <div class="mt-6 sm:max-w-xl">
            <h1 class="text-4xl font-extrabold text-slate-900 dark:text-slate-200 tracking-tight sm:text-5xl">
              Your tweets, curated
            </h1>
            <p class="mt-6 text-xl text-slate-500 dark:text-slate-400">
            <span class="font-black text-sky-600 dark:text-sky-400">Tweet Sweeper</span> automatically deletes your outdated and out-of-touch tweets so you can show off your best self.
            </p>
          </div>
          <% unless current_user.present? %>
            <div data-turbo="false">
              <%= button_to "/auth/twitter", 
                method: :post, 
                class: "mt-12 w-full sm:max-w-sm flex items-center justify-center px-8 py-3 border-b border-sky-700 text-base font-medium rounded-md text-white bg-sky-600 hover:bg-sky-500 md:py-4 md:text-lg md:px-10" do %>
                Sign in with Twitter
                <!-- SVG from: https://gist.github.com/mbostock/3094619 -->
                <svg viewBox="328 355 335 276" class="h-6 w-6 ml-3 fill-current text-white" xmlns="http://www.w3.org/2000/svg">
                  <path d="
                           M 630, 425
                           A 195, 195 0 0 1 331, 600
                           A 142, 142 0 0 0 428, 570
                           A  70,  70 0 0 1 370, 523
                           A  70,  70 0 0 0 401, 521
                           A  70,  70 0 0 1 344, 455
                           A  70,  70 0 0 0 372, 460
                           A  70,  70 0 0 1 354, 370
                           A 195, 195 0 0 0 495, 442
                           A  67,  67 0 0 1 611, 380
                           A 117, 117 0 0 0 654, 363
                           A  65,  65 0 0 1 623, 401
                           A 117, 117 0 0 0 662, 390
                           A  65,  65 0 0 1 630, 425
                           Z" />
                </svg>
              <% end %>
            </div>
          <% else %>
            <%= link_to tweets_path, class: "mt-12 w-full sm:max-w-sm flex items-center justify-center px-8 py-3 border-b border-slate-300 dark:border-slate-600 text-base font-medium rounded-md text-slate-900 dark:text-slate-300 bg-white dark:bg-slate-700 shadow-md md:py-4 md:text-lg md:px-10" do %>
              Go to dashboard
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 ml-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
              </svg>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
      <div class="py-12 sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <div class="hidden sm:block">
          <div class="absolute inset-y-0 left-1/2 w-screen bg-slate-100 dark:bg-slate-700 rounded-l-3xl lg:left-80 lg:right-0 lg:w-full"></div>
          <svg class="absolute top-8 right-1/2 -mr-3 lg:m-0 lg:left-0" width="404" height="392" fill="none" viewBox="0 0 404 392">
            <defs>
            <pattern id="837c3e70-6c3a-44e6-8854-cc48c737b659" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-slate-200 dark:text-slate-600" fill="currentColor" />
            </pattern>
            </defs>
            <rect width="404" height="392" fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)" />
          </svg>
        </div>
        <div class="relative pl-4 -mr-40 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:h-full lg:pl-12">
          <%= image_tag "homepage-screenshot", class: "w-full rounded-md shadow-xl ring-1 ring-black ring-opacity-5 lg:h-full lg:w-auto lg:max-w-none" %>
        </div>
      </div>
    </div>
  </div>

  <div class="relative px-4 sm:px-6 lg:px-8 mt-24">
    <div class="mt-6 prose prose-lg text-slate-500 dark:text-slate-400 mx-auto">
      <h2><span class="dark:text-slate-300">Twitter is a chatroom</span></h2>
      <p class="mt-8 text-xl leading-8 dark:text-slate-400">You can reach out and talk with some of the most interesting people in the world, in real-time. There's nothing like it.</p>
      <p>But we're human. We learn things, form new opinions, and maybe share just a little too much from time to time. Your Twitter timeline should reflect the smarter, funnier, more current you.</p>
      <p><span class="text-sky-700 dark:text-sky-500 font-bold">Tweet Sweeper</span> puts an expiration date on your tweets and automatically purges Twitter of the things "old you" said.</p>
      <p>To see what this looks like for you, sign in with your Twitter account and test out different durations.</p>
      <p>When you're ready to start sweeping, a subscription plan costs just <strong><span class="dark:text-sky-500">$29/year</span></strong>.</p>
      <p>If you have any questions, tweet me <a href="https://twitter.com/pbmarcano"><span class="dark:text-sky-500 underline">@pbmarcano</span></a>.</p>
    </div>
  </div>
</main>
