<p>Hi @<%= @user.username %>,</p>

<p>Tweet Sweeper has been disconnected with your Twitter account for the last month. Since then, Tweet Sweeper hasn't been able to find or delete any of your tweets.</p>

<p>To reconnect to Twitter, just head over to <a href="https://tweetsweeper.app/">Tweet Sweeper</a> and sign in again.</p>

<p>Sorry for the interruption.</p>

<p>- Pete (<a href="https://twitter.com/pbmarcano">@pbmarcano</a>)</p>
