<p>Something's gone wrong!</p>
<p>It seems Tweet Sweeper has lost connection with your Twitter account, so it hasn't been able to find or delete any of your tweets recently.</p>
<p>To reconnect to Twitter, just head over to <a href="https://tweetsweeper.app/">Tweet Sweeper</a> and sign in again.</p>
<p>Sorry for the interruption.</p>
<p>Cheers,<br />- Pete (<a href="https://twitter.com/pbmarcano">@pbmarcano</a>)</p>
