<div class="max-w-2xl mx-auto mt-16 sm:mt-24 prose">
  <h1>Billing</h1>
  <p>
  You're <%= subscription_status %> &bull; 
  <%= turbo_frame_tag "manage_billing" do %>
    <%= link_to @portal_session.url do %>
      <span>Manage Subscription</span>
    <% end %>
  <% end %>
  </p>
</div>
