<% content_for :title, "Billing" %>

<%= render "shared/header" do %>
  Billing
<% end %>

<%= render "shared/subheader" %>

<p class="text-slate-700 dark:text-slate-400">
You're <%= subscription_status %> &bull; <%= link_to "Manage Subscription", @portal_session.url, class: "underline" %>
</p>
