<% content_for :title, "Billing" %>

<h1 class="text-slate-800 dark:text-slate-300 font-extrabold text-4xl mb-5">Billing</h1>
<p class="text-slate-700 dark:text-slate-400">
You're <%= subscription_status %> &bull; <%= link_to "Manage Subscription", @portal_session.url, class: "underline" %>
</p>
