<div class="max-w-2xl mx-auto mt-16 sm:mt-24 prose">
  <h1><span class="dark:text-slate-300">Get Tweet Sweeper</span></h1>
  <p>
  <span class="dark:text-slate-400 inline sm:block">Get <strong>Tweet Sweeper</strong> today to start purging your old tweets.</span>
  </p>
  <%= turbo_frame_tag "checkout_button" do %>
    <% unless current_user.actively_subscribed? %>
      <%= render partial: "pay/stripe/checkout_button", 
        locals: { 
          session: @checkout_session, 
          title: sanitize("<span class='font-black'>$29</span>&nbsp;/ year"), 
          class: "flex items-center justify-center px-8 py-3 border-b border-slate-300 dark:border-slate-600 text-base font-medium rounded-md text-slate-900 dark:text-slate-300 bg-white dark:bg-slate-700 shadow-md md:py-4 md:text-lg md:px-10", 
          style: nil 
        } %>
    <% else %>
      <%= turbo_frame_tag "manage_billing", src: billing_path %>
    <% end %>
  <% end %>
</div>
