<% content_for :title, current_user.username %>

<main class="max-w-2xl mx-auto">
  <%= render "setting_form" %>

  <%= turbo_frame_tag "timeline" do %>
    <div class="bg-white dark:bg-gray-700 dark:text-gray-300 shadow-lg border border-gray-100 dark:border-gray-800 overflow-hidden rounded-lg">
      <%= turbo_stream_from current_user, :tweets %>
      <ul role="list" id="tweets" class="divide-y divide-gray-200 dark:divide-gray-800">
        <%= render @tweets %>
      </ul>
    </div>
  <% end %>
</main>
